In [26]:
import pandas as pd
import numpy as np

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/u.data', sep = '\t', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('ml-100k/u.item', sep = '|', names = m_cols, encoding='ISO-8859-1', usecols=range(2))

ratings = pd.merge(movies, ratings)

print(ratings.head())

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [54]:
userRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')
print(userRatings.head())

title    'Til There Was You (1997)  1-900 (1994)  101 Dalmatians (1996)  \
user_id
0                              NaN           NaN                    NaN
1                              NaN           NaN                    2.0
2                              NaN           NaN                    NaN
3                              NaN           NaN                    NaN
4                              NaN           NaN                    NaN

title    12 Angry Men (1957)  187 (1997)  2 Days in the Valley (1996)  \
user_id
0                        NaN         NaN                          NaN
1                        5.0         NaN                          NaN
2                        NaN         NaN                          NaN
3                        NaN         2.0                          NaN
4                        NaN         NaN                          NaN

title    20,000 Leagues Under the Sea (1954)  2001: A Space Odyssey (1968)  \
user_id
0                                        NaN                           NaN
1                                        3.0                           4.0
2                                        NaN                           NaN
3                                        NaN                           NaN
4                                        NaN                           NaN

title    3 Ninjas: High Noon At Mega Mountain (1998)  39 Steps, The (1935)  \
user_id
0                                                NaN                   NaN
1                                                NaN                   NaN
2                                                1.0                   NaN
3                                                NaN                   NaN
4                                                NaN                   NaN

title    ...  Yankee Zulu (1994)  Year of the Horse (1997)  \
user_id  ...
0        ...                 NaN                       NaN
1        ...                 NaN                       NaN
2        ...                 NaN                       NaN
3        ...                 NaN                       NaN
4        ...                 NaN                       NaN

title    You So Crazy (1994)  Young Frankenstein (1974)  Young Guns (1988)  \
user_id
0                        NaN                        NaN                NaN
1                        NaN                        5.0                3.0
2                        NaN                        NaN                NaN
3                        NaN                        NaN                NaN
4                        NaN                        NaN                NaN

title    Young Guns II (1990)  Young Poisoner's Handbook, The (1995)  \
user_id
0                         NaN                                    NaN
1                         NaN                                    NaN
2                         NaN                                    NaN
3                         NaN                                    NaN
4                         NaN                                    NaN

title    Zeus and Roxanne (1997)  unknown  Á köldum klaka (Cold Fever) (1994)
user_id
0                            NaN      NaN                                 NaN
1                            NaN      4.0                                 NaN
2                            NaN      NaN                                 NaN
3                            NaN      NaN                                 NaN
4                            NaN      NaN                                 NaN

[5 rows x 1664 columns]

In [58]:
DalmatiansRatings = userRatings['101 Dalmatians (1996)']
DalmatiansRatings.head()

user_id
0    NaN
1    2.0
2    NaN
3    NaN
4    NaN
Name: 101 Dalmatians (1996), dtype: float64

In [61]:
similarMovies = userRatings.corrwith(DalmatiansRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
print(df.columns.values)
print(df.head(10)[0].sort_values(ascending=False))

[0]
title
101 Dalmatians (1996)                  1.000000
8 Seconds (1994)                       1.000000
8 1/2 (1963)                           0.522233
187 (1997)                             0.269191
20,000 Leagues Under the Sea (1954)    0.266928
39 Steps, The (1935)                   0.111111
2 Days in the Valley (1996)            0.048973
2001: A Space Odyssey (1968)          -0.043407
12 Angry Men (1957)                   -0.049890
'Til There Was You (1997)             -1.000000
Name: 0, dtype: float64

In [65]:
df.sort_values(by=0)

                                                      0
title
Man of the Year (1995)                             -1.0
Until the End of the World (Bis ans Ende der We... -1.0
Unstrung Heroes (1995)                             -1.0
Unhook the Stars (1996)                            -1.0
Warriors of Virtue (1997)                          -1.0
...                                                 ...
Boys (1996)                                         1.0
Tie That Binds, The (1995)                          1.0
Faithful (1996)                                     1.0
Bye Bye, Love (1995)                                1.0
House Party 3 (1994)                                1.0

[1118 rows x 1 columns]

In [66]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [68]:
corrMatrix = userRatings.corr(method='pearson',min_periods=100)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

In [75]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding sims for " + myRatings.index[i] + "...")

    sims = corrMatrix[myRatings.index[i]].dropna()

    sims = sims.map(lambda x: x * myRatings[i])

    simCandidates = simCandidates.append(sims)

print("sorting ...")
simCandidates.sort_values(inplace = True, ascending = False)
print(simCandidates.head(10))

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting ...
Empire Strikes Back, The (1980)                       5.000000
Star Wars (1977)                                      5.000000
Empire Strikes Back, The (1980)                       3.741763
Star Wars (1977)                                      3.741763
Return of the Jedi (1983)                             3.606146
Return of the Jedi (1983)                             3.362779
Raiders of the Lost Ark (1981)                        2.693297
Raiders of the Lost Ark (1981)                        2.680586
Austin Powers: International Man of Mystery (1997)    1.887164
Sting, The (1973)                                     1.837692
dtype: float64

In [76]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [77]:
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates.head(10)

Empire Strikes Back, The (1980)              8.877450
Star Wars (1977)                             8.870971
Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
dtype: float64

In [78]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(10)

Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
Wizard of Oz, The (1939)                     3.200268
Dumbo (1941)                                 2.981645
dtype: float64